@using Mvc.CascadeDropDown
@model Reporte.Models.CascadingDropdownsModel

@{
    Layout = null;
    ViewBag.Title = "Index";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Reporte SIAP</title>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <link href="~/style/style.css" rel="stylesheet" />
    @System.Web.Optimization.Styles.Render("~/Content/css")
    @System.Web.Optimization.Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container body-content">
        <header class="header">
            <div class="contenedor">
                <img src="~/images/logo.png" height="150" class="logotipo" />
                <img src="~/images/CAVAZOS.png" height="100" class="logotipob" />
            </div>
            <div class="contenedor titulo">
                <h1>Reporte SIAP</h1>
            </div>
        </header>
        <section class="contboton">
            <div></div>
            <div class="botones">
                @Html.ActionLink("Mensual", "FilterMensual")
            </div>
            <div></div>
            <div class="botones">
                @Html.ActionLink("Periodos", "FilterProcesos")
            </div>
            <div></div>
        </section>
        <footer>
            <p>&copy; @DateTime.Now.Year - INARI Inteligencia Laboral</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @System.Web.Optimization.Scripts.Render("~/bundles/jquery")
    @System.Web.Optimization.Scripts.Render("~/bundles/bootstrap")
</body>
</html>